<style type="text/css">
	.ace_editor { height: 200px; }
	.editor{
		margin-left:0px;
		border:solid 1px;
	}

	.template-item:hover{
		cursor:pointer;
		color: blue;
	}
	.template-item{
		font-weight: bold;
		color:black;
	}
</style>
<div ng-controller="HomeController">
	<div style="height: 150px;overflow-y: auto;">
		<ul class="list-group">
			<li class="template-item list-group-item" ng-class="{'active': file.active === true}" ng-repeat="file in fileNames" ng-click="onTemplateClick(file.name)">{{file.name}}</li>
		</ul>
	</div>

	<div class="div-editor-html editor"
		 ng-model="htmlText"
		 ui-ace="{mode: 'html'}">
		
	</div>

	<div style="margin-top: 20px">
		<input id="btnSaveTemplate" class="btn" type="button" value="Save" ng-click="onSaveTemplate()"/>
		<input id="btnCleanTemplate" class="btn" type="button" value="Clean" ng-click="onCleanTemplate()"/>
		<input id="btnTestAPI" class="btn" type="button" value="Test API" ng-click="onTestAPI()"/>
	</div>

	<div class="div-editor-ds editor" style="margin-top: 20px"
		 ng-model="dataSourceText"
		 ui-ace="{mode: 'json'}">

	</div>

</div>