<style type="text/css">
	.ace_editor { height: 200px; }
	.div-editor{
		margin-left:0px;
		border:solid 1px;
	}
	.template-item:hover{
		cursor:pointer;
		color: blue;
	}
	.template-item{
		font-weight: bold;
		color:black;
	}
</style>
<div ng-controller="HomeController">
	<div style="height: 150px;overflow-y: auto;">
		<ul class="list-group">
			<li class="template-item list-group-item" ng-class="{'active': file.active === true}" ng-repeat="file in fileNames" ng-click="onTemplateClick(file.name)">{{file.name}}</li>
		</ul>
	</div>

	<div class="div-editor" 
		 ng-model="aceText" 
		 ui-ace="{mode: 'html' , onLoad:aceLoaded , onChange : aceChanged}">
		
	</div>

	<input id="btnSaveTemplate" class="btn" type="button" value="Save" ng-click="onSaveTemplate()"/>
	<input id="btnCleanTemplate" class="btn" type="button" value="Clean" ng-click="onCleanTemplate()"/>

</div>