<div ng-controller="LoginController" class="card card-container">
    <form class="form-signin">
        <span id="reauth-email" class="reauth-email"></span>
        <input ng-model="userName" type="email" id="inputUser" class="form-control" placeholder="Email" required autofocus />
        <input ng-model="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required />
        <div id="remember" class="checkbox">
            <label>
                <input type="checkbox" value="remember-me" /> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" ng-click="onLogIn()">Login</button>
    </form>
</div>
